$font-color: red;
$fly-away-blue: #0088ce;

*{
  margin: 0;
  padding: 0;
}
body{
  font-family: "Lato Medium", sans-serif;
  color: $font-color;
}
.active, h1, h2, h3, h4, h5, h6{
  color: $fly-away-blue;
}
.navbar-light .navbar-nav .nav-link{
  color: $fly-away-blue;
}